html{
    --backgroundimage:url("./img/CA1.jpg");
    --colorh2:-webkit-linear-gradient(#ffffff, #162ca2);

}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #22252A;
    z-index: 100;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.marvel-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100%;
    background: white;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}
header h1{
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
}
main{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    bottom: 10%;
    background-color: black;
}
footer{
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(33, 36, 41);
}
.icon{
    position: absolute;
    display: none;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    line-height: 30px;
}
nav{
    font: normal 14px/22px "Open Sans",Trebuchet MS,Helvetica,Arial,sans-serif;
    float: left;
    top: 0;
    width: 20%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.pos-arrow{
    position: relative;
    height: 10%;
    width: 100%; 
}
.nav-movies{
    
    position: relative;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;    
}

.nav-movies::-webkit-scrollbar {
    display: none;
}
.nav-movies a{
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    display: block;
}
.nav-movies a:hover{
    padding: 15px 0;
    font-size: 25px;

}
.nav-movies .active{
    color: #7b6fde;
}

.arrow{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 6px solid white;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.arrow:hover{
    border: 8px solid gray;
}
.arr-up{
    top:60%;
    border-bottom: none;
    border-right: none;
}
.arr-up:hover{
    border-bottom: none;
    border-right: none;
}
.arr-down{
    top:40%;
    border-top: none;
    border-left: none;  
}
.arr-down:hover{
    border-top: none;
    border-left: none;  
}
.close{
    text-decoration: none;
    position: fixed;
    right: 15px;
    top: 15px;
    font-size: 30px;
    color: white;
}

section{
    float: left;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    position: relative; 
    background-color: rgba(0,0,0,0.7);
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
     background-image: var(--backgroundimage);
     height: 100%;
     width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    filter: blur(2px);
}
/*.movie{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
}*/

.next{
    text-align: center;
    font-size: 30px;
}
.up {
    position: relative;
    border: 4px solid black;
    width: 20px;
    height:20px;
  }

  .myVideo {
    position: absolute;
    top:50%;
    left: 0;
    margin-left: 30px;
    transform: translateY(-50%);
    width: 50%;
    height: 60%;
    border:none;
  }
  .info-Movies{  
    position: absolute;
    top:0%;
    left: 50%;
    height: 100%;
    margin-left: 30px;
    right: 0;
  }
  .titlemovies{
      position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 40%;
  }
  .info-Movies h2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.5vw;
    background: var(--colorh2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
     

  }
  .textmovies{
    position: absolute;
    top:40%;
    left: 0;
    height: 60%;
    width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
  }
  .info-Movies p{
      padding: 5px 30px;
    font: normal 14px/22px "Open Sans","Trebuchet MS",Helvetica,Arial,sans-serif;
      text-align: justify;
      color: aliceblue; 
  }

  .pos-arrowResp{
    position: relative;
    height: 10%;
    width: 100%;
}

.contact{
    position: absolute;
    top: 30%;
    right: 20px;
    width: 250px;
    height: 60%;
    text-align: center;
}
.contact .namesite{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    
}

.tooltips{
    position: absolute;
    visibility: hidden;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: 1;
    background-color: black;
    color: #ffffff;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px ;
}
.tooltips::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.namesite:hover .tooltips{
    visibility: visible;
    opacity: 1;
}
  @media only screen and (max-width:1000px){
    .info-Movies h2{
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 25px;
      }
  }
  


  @media only screen and (max-width:700px){
    .resposiveNav{
        position:fixed;
        z-index: 2000;
        width: 100%;
        left: 0;
        background-color: #22252A;
    }
    .pos-arrowResp{
        position: relative;
        height: 10%;
        width: 100%;
    }
      nav{
        position:fixed;
        z-index: 2000;
        width: 0%;
        left: 0;
        background-color: #22252A;

      }
      .pos-arrow{
          display: none;
      }
      .icon{
          display: block;
      }
      section{
          width: 100%;
      }
      .info-Movies h2{
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 22px;
      }
  }

  @media only screen and (max-width:500px){
      .myVideo{
        width:100%;
        top: 0;
        height: 40%;
        transform: translateY(0);
        margin-top: 10px;
        margin-left: 0;
      }
      .info-Movies{
        top:40%;
        margin-left: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;

      }
      section{
        width: 100%;
    }
    .titlemovies{
          top:0;
          left: 0;
          width: 100%;
          height: 30%;
          padding-top: 0px;         
    }
    .textmovies{
        top:30%;
        left: 0;
        height: 70%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .info-Movies h2{
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 18px;
      }
  }
  @media only screen and (max-width:350px){
    .icon{
        left: 15px;
    }
    .marvel-logo{
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 80%;
    }
  }
